nav
    ul {
        list-style-type:none;
        margin:0px 12.5%;
        padding:0px;
        border:5px solid #555;
        width:75%;
        height:2em;
        position: fixed;
        text-align: center;
        background-color: #f1f1f1;
        table-layout: fixed;
       }
        li {
            height: 100%;
            width: 25%;
            display: inline;
            float: left;
            text-align: center;
            box-sizing: border-box;
            background-color: chartreuse;
        }
            li a{
                padding: 0.5em 0em;
                text-align: center;
                box-sizing: border-box;
                display:inline-block;
                margin:0px;
                border-collapse: collapse;
                text-decoration: none;
            }
        li a:hover {
            color:white;
            background-color: #555;
        }
        .active{
            color:white;
        }
        img.icon {
            width: 1em;
            height: 1em;
            float: left;
        }

/*--------------meny--------------*/