Body{
    
    background-repeat:no-repeat;
    background-color: #999;
    font-family: verdana, arial, sans-serif;
    color:lightgreen;
    margin: 0 8%
    
}
h1 {
    background-color: #666;
    border-radius: 50px;
    font-size: 4vw;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:4vw;
    border:0;
    padding:5px;
    color: lightgreen;
    letter-spacing: 5px;
    
}
h2 {
    background-color: #666;
    border-radius: 25px;
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding:2px;
    padding-left:5vw;
    margin-bottom: 15px;
    color:lightgreen;
    
}
h2.chat{
    font-size: 2.5vw;
    margin:0;
    display:inline;
    background-color: white;
    color:black;
}
p{
    text-align: center;
    Margin:0;
    Border:0; 
    }
@media screen and (max-width:400px){
    p{
        font-size: 50%;
    }
}
p2{
    margin:15px;
    padding: 5px;
    font-size:1em;
    
}
p3{
    font-size: 0.7em;
    font-style: italic;
    margin: 5px;
    color: #666;
}
/*-------------------Meny-------------*/
.menu ul {
        list-style-type:none;
        position: relative;
        width:100%;
        margin: 0px;
        padding-bottom: 5px;
        border-color: lightgreen;
        overflow: hidden;
        text-align: center;
        background-color:#999;
       }

.menu li{
 
            margin:0;
            height: 100%;
            width: 22%;
            padding:0;
            display: inline-block;
            text-align: center;                         
            
            }

.menu li a {
                display: block;
                padding-bottom: 3vw;
                margin:0;
                color: lightgreen;
                height: 3vw;
                font-size: 2vw;
                text-align: center;
                text-decoration: none;
                }
.menu p {
            text-align: left;
            width: 50%;
            left: 20%;
}

.menu li a:hover {
            color: #555;
            background-color: lightgreen;
        }
.menu li a#active {
            color: white;
            background-color: lightgreen;
}

.menu img.icon {
            width: 5vw;
            height: 5vw;
            float: right;
}

@media screen and (max-width:400px) {
    .menu ul li p{
            display:none;
            }
    .menu li{
        width: 15%;
    }
}
/*--------------meny--------------*/
/*--------------img--------------*/
    img.recept{
        margin-top:2.5em;
        border-radius: 25px;
        float: right;
        width: 40vw;
    
}
/*--------------img---------------*/
/*--------------listor------------*/
.ingred ul {
    list-style-type: square;
    list-style-position: inside;
    background-color: #999;
    border: 5px;
    width: 55vw;
    text-align: left;
    margin-left: 1vw;
    display: block;
}

.ingred li {
    Font-size: 3vw;
    margin: 3px;
    border: none;
}

.ingred li:first-child {
    list-style-type: none;
    text-align: center;
    
}

.howto ol {
    list-style: decimal inside;
    width: 55vw;
    margin-left: 1vw;
    border: 5px;
}

.howto li{
    margin:3px;
    font-size: 3vw;
    
}

footer {
    background-color: #444;
    position: fixed;
    width: 100%;
    bottom: 0vw;
    padding: 0;
}

/* ------------CALENDAR------------ */
.calendar{
    margin-top: 6px;
    margin-bottom: 0;
}
.calendar table{
    margin:10%;
    table-layout: fixed;
    border: 5px;
    border-color: #555;
    border-collapse: collapse;
}
.calendar th{
    text-align: center;
    background-color: lightgreen;
    color: white;
    border-right: 1px solid #555;
    width: 8vw;
    padding: 5px;
}
@media screen and (max-width: 700px) {
    .calendar th{
        font-size: 12px;
    }
}
@media screen and (max-width: 400px) {
.calendar th{
    font-size: 9px;
    }   
}
.calendar th.right{
    border-right: 1px solid lightgreen;
}
.calendar td{
    text-align: right;
    border: 5px #555;
    padding: 4px;
    padding-bottom: 7.5vw;
    color: #555;
    font-size: 12px;
}
.calendar td a p{
    width:100%;
    display:block;
    text-align: right;
    color:#555;
}
.calendar .linked{
    padding: 0;
    padding-bottom: 0;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}
.calendar .linked p{
    padding-top: 4px;
    padding-right: 4px;
}
.calendar a{
    padding-bottom: 7.5vw;
    display: block;
    text-decoration: none;
    color: lightgreen;
}
.pancake{
    background-image: url("resources/pannkakor.jpg");
    
}
.meatballs{
    background-image: url("resources/meatballs.jpeg");
}
.calendar a:hover{
    background-color:lightgreen;
    opacity: 0.5;
    color:#555;
}
.calendar td.active{
    background-color: lightgreen;
    color: #555;
}
/* ------------CALENDAR------------ */